<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.inqalaab.app.receive</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>DarkAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DarkAppIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.inqalaab.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>inqalaab</string>
			</array>
		</dict>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INStartCallIntent</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Inqalaab uses your local network to discover and communicate with nearby users when internet is unavailable.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_inqalaab-p2p._tcp</string>
		<string>_inqalaab-p2p._udp</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Inqalaab uses Bluetooth to discover and communicate with nearby users.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string>logo</string>
	</dict>
</dict>
</plist>
